[Desktop Entry]
Name=galileo-gui
Name[ca]=galileo-gui
Name[cs]=galileo-gui
Name[de]=galileo-gui
Name[el]=galileo-gui
Name[es]=galileo-gui
Name[fr]=galileo-gui
Name[it]=galileo-gui
Name[ja]=galileo-gui
Name[lt]=galileo-gui
Name[nl]=galileo-gui
Name[pt]=galileo-gui
Name[ro]=galileo-gui
Name[ru]=galileo-gui
Name[sv]=galileo-gui
Comment=Sync your fitbit tracker
Comment[ca]=Sync your fitbit tracker
Comment[cs]=Sync your fitbit tracker
Comment[de]=Sync your fitbit tracker
Comment[el]= Sync your fitbit tracker
Comment[es]=Sync your fitbit tracker
Comment[fr]=Sync your fitbit tracker
Comment[it]=Sync your fitbit tracker
Comment[ja]=Sync your fitbit tracker
Comment[lt]=Sync your fitbit tracker
Comment[nl]=Sync your fitbit tracker
Comment[pt]=Sync your fitbit tracker
Comment[ro]=Sync your fitbit tracker
Comment[ru]=Sync your fitbit tracker
Comment[sv]=Sync your fitbit tracker
Icon=galileo-gui.png
Exec=galileo-gui
NoDisplay=false
Categories=Accessories;
Terminal=false
Type=Application

